<ion-view view-title="Edit Show">
  <ion-content>
    <div>
      <button class="button button-stable button-block icon-left ion-ios-plus-outline" ng-click='create()'>Add Show</button>
    </div>
    <div class="list card">
      <div class="item item-divider"> Upcoming Events</div>
      <div class="item item-body" ng-repeat="event in user" ng-click="editDetail(event)">
        <!-- TODO: Would Like to Slide to Delete  -->
        <br> {{ event.title }}
        <br>
        <mydate>{{ event.datetime | date: 'fullDate' }}</mydate>
      </div>
      <ion-content>
</ion-view>
