<ion-view title="Event">
  <ion-content padding="true" class="has-header">
    <div class="list card edit-event">
      <div class="item item-divider">Event Information</div>
        <form name="editEventForm" class="list" ng-model='event' novalidate>
          <label class="item item-input item-stacked-label" name="title">
            <span class="input-label">Title</span>
            <input type="text" ng-model="event.title" required>
          </label>
          <label class="item item-input item-stacked-label" name="date">
            <span class="input-label">Date</span>
            <input type="date" ng-model="event.date" required>
          </label>
          <label class="item item-input item-stacked-label" name="time">
            <span class="input-label">Time</span>
            <input type="time" ng-model="event.time" required>
          </label>
          <label class="item item-input item-stacked-label" name="description">
            <span class="input-label">Description</span>
            <input type="text" ng-model="event.description">
          </label>
          <div class="item item-divider">Venue Information</div>
          <div class="item item-input item-stacked-label" name="venueAddress">
            <span class="input-label">Address</span>
            <ion-google-place location-changed="locationChanged" ng-model="event.venue.name" class="address"/>
          </div>
          <button class="button button-stable button-block icon-left ion-ios-checkmark-outline" ng-click="updateEvent()" ng-disabled="editEventForm.$invalid">Update Event</button>
        </form>
    </div>
  </ion-content>
</ion-view>
