<ion-view class="edit-profile" title="Edit Profile" ng-init="retrieveUser()">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <ion-toggle toggle-class="toggle-positive" ng-checked="{{user.artist}}" name="ArtistToggle" ng-model='user.artist' ng-click='toggleArtist()'>Artist</ion-toggle>
        </div>
        <div class="card">
            <div class="item non-editable" name="Name" ng-model='user.name'>
                <i class="username-label ion-social-facebook positive"></i><span class="username">{{user.name}}</span>
            </div>
            <div class="item non-editable" name="Email" ng-model='user.email'>
                <i class="email-label ion-at positive"></i><span class="email">{{user.email}}</span>
            </div>
        </div>
        <div class="card userInfo item">
            <div class="item-input" name="Twitter">
                <i class = "ion-social-twitter positive"></i>
                <input type="text" placeholder="Twitter ID" ng-model='user.twitter'>
                <!-- <span class="email">{{user.twitter}}</span> -->
            </div>
            <form nonvalidate class="artist-profile list" ng-show='user.artist' name="Paypal">
                <div class="item-input">
                    <div>
                        <i class="ion-card positive"></i>
                        <!-- <label for="paypal-input">Paypal.me ID</label> -->
                    </div>
                    <input type="text" name="paypal-input" placeholder="Paypal.me ID" ng-model='user.paypal' ng-pattern="/^[a-zA-Z0-9]+$/">
                </div>
                <div class="paypal-id-error" ng-show="Paypal.$invalid">Paypal.me IDs may only contain letters and numbers</div>
                <div class="item-input" name="Website">
                    <i class="ion-ios-world positive"></i>
                    <input type="text" placeholder="Website" ng-model='user.website'>
                </div>
            </form>
        </div>
        <button class="button button-stable button-block icon-left ion-ios-minus-outline" ng-click='editEvent()' ng-show='user.artist'>Your Events</button>
        <div class="spacer" style="height: 10px;"></div>
        <button class="button button-stable button-block icon-left ion-ios-checkmark-outline profile-save" ng-disabled="Paypal.$invalid || disableSave" ng-click="saveUser()" ng-class="{'disabled-class': Paypal.$invalid}">Save Profile</button>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>
