<ion-view class="edit-profile" title="Edit Profile">
    <ion-content padding="true" class="has-header">
        <div class="card">
            <ion-toggle toggle-class="toggle-positive" ng-checked="{{user.artist}}" name="ArtistToggle" ng-model='user.artist' ng-click='toggleArtist()'>Artist</ion-toggle>
        </div>
        <div class="card">
            <div class="item non-editable" name="Name" ng-model='user.name'>
                <span class="username-label">Username</span><span class="username">{{user.name}}</span>
            </div>
            <div class="item non-editable" name="Email" ng-model='user.email'>
                <span class="email-label">E-mail</span><span class="email">{{user.email}}</span>
            </div>
        </div>
        <div class="card">
            <label class="item item-input" name="Twitter">
                <input type="text" placeholder="Twitter ID" ng-model='user.twitter'>
                <!-- <span class="email">{{user.twitter}}</span> -->
                <i class="ion-edit edit-twitter"></i>
            </label>
        </div>
        <div class="card" ng-show='user.artist'>
            <label class="item item-input" name="Paypal">
                <input type="text" placeholder="Paypal ID" ng-model='user.paypal'>
                <i class="ion-edit edit-twitter"></i>
            </label>
            <label class="item item-input" name="Website">
                <input type="text" placeholder="Website" ng-model='user.website'>
                <i class="ion-edit edit-twitter"></i>
            </label>
        </div>
        <button class="button button-stable button-block  icon-left ion-ios-plus button-full" ng-click='create()' ng-show='user.artist'>Add Show</button>
        <div class="spacer" style="height: 10px;"></div>
        <button class="button button-stable button-block  icon-left ion-checkmark" ng-click="saveUser()">Save Profile</button>
        <div class="spacer" style="height: 100px;"></div>
    </ion-content>
</ion-view>
