<!--   TOP BAR -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side = "right">
      <button ng-controller="MenuCtrl" class=" button item-icon-right" menu-close href="#" ng-click="showConfirmLogOut()">
      Log out
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

<!-- BOTTOM TABS -->
  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Profile" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href= "#/app/editProfile">
      <ion-nav-view name= "editProfile"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/app/artists">
      <ion-nav-view name= "artists"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" href= "#/app/browse">
      <ion-nav-view name= "browse"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Live" icon-on="ion-android-microphone" icon-off="ion-ios-mic-outline" href='#/app/live'>
      <ion-nav-view name="live"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
