<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Profile" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>
</ion-side-menus>
