<ion-view title="Event">
<ion-content padding="true" class="has-header">
<div class="list card">
    <div class="item item-divider">Event Information</div>
    <div class="item item-body">
        <form class="list" ng-model='event'>
            <label class="item item-input" name="title">
                <span class="input-label">Title</span><textarea placeholder="">{{event.title}}</textarea>
            </label>
            <label class="item item-input" name="date">
                <span class="input-label">Date</span><textarea placeholder="">{{event.datetime}}</textarea>
            </label>
            <label class="item item-input" name="description">
                <span class="input-label">Description</span><textarea placeholder="">{{event.description}}</textarea>
            </label>
        </form>
    </div>
</div>
<div class="list card">
    <div class="item item-divider">Venue Information</div>
    <div class="item item-body">
        <form class="list">
            <label class="item item-input" name="venueName">
                <span class="input-label">Name</span><textarea placeholder="">{{event.venue.name}}</textarea>
            </label>
            <label class="item item-input" name="venueCity">
                <span class="input-label">City</span><textarea placeholder="">{{event.venue.city}}</textarea>
            </label>
            <label class="item item-input" name="venueCountry">
                <span class="input-label">Country</span><textarea placeholder="">{{event.venue.country}}</textarea>
            </label>
        </form>
    </div>
</div>
</ion-content>
</ion-view>
