<ion-view title="Event">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Event Information</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="band">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                    <label class="item item-input" name="title">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                    <label class="item item-input" name="date">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                    <label class="item item-input" name="description">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Venue Information</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="venueName">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                    <label class="item item-input" name="venueCity">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                    <label class="item item-input" name="venueCountry">
                        <span class="input-label"></span><textarea placeholder=""> </textarea>
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
