<ion-view title="{{title()}}">
  <ion-content>
  <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>
    <div id="button_padding" ng-show="isArtist()">
      <button class='button button-positive large_button' id="live_button" ng-hide="liveButton" ng-click='goLive()'>
        <i class="icon_custom ion-music-note" id="live_icon"></i>Go Live!</button>
        <button class="button button-positive large_button" id="stop_button" ng-show="liveButton" ng-click="goLive()">Event Finished</button>
        <div ng-show="liveButton">
          You Are Now Live!
        </div>
    </div>
    <div class="list" ng-show="!isArtist()">
      <ion-item
      class="item item-thumbnail-left artistList"
      collection-repeat="artist in artists | filter: {live: true}"
      collection-item-height = "100px"
      ng-click="payPal(artist.artist_info.paypal_link)">
        <img ng-src="{{ artist.image }}">
        <h2>{{ artist.artist_info.artist_name || artist.name }}</h2>
        <h4>{{ artist.email }}</h4>
        <h4>{{ artist.twitter }}</h4>
        <h4>Upcoming Event: {{ artist.artist_info.upcoming_events[0].datetime | date: 'MMM d, y' }} </h4>
        <h4 class="defaultValue" ng-hide="artist.artist_info.upcoming_events[0].datetime"> None Yet!</h4>
        <div class="item-icon-right">
        <i class="icon ion-social-usd item-right positive"></i>
        </div>
      </ion-item>
    </div>
  </ion-list>
  </ion-content>
</ion-view>


