<ion-view view-title="Artists" ng-init="init()">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" style="text-align:center;" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <ion-list show-delete="false" can-swipe="true">
    <ion-toggle toggle-class="toggle-positive" ng-click="toggleFavorite()" style="width: 50%; float: right">Favorites</ion-toggle>
    <ion-toggle toggle-class="toggle-positive" ng-click="toggleLive()" style="width: 50%">Live</ion-toggle>
    <div class="list">
      <artist-list artists="artists"></artist-list>
    </div>
  </ion-list>
  </ion-content>
</ion-view>
