<ion-view view-title="Artists">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" style="text-align:center;" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <ion-list show-delete= "false" can-swipe = "true">
    <div class="list">
      <ion-item class="item item-thumbnail-left artistList" collection-repeat="artist in artists | filter:searchText" ng-click="artistDetail(artist)" on-swipe-left="onSwipeLeft(artist)">
        <img ng-src="{{ artist.image }}">
        <h2>{{ artist.name }}</h2>
        <h4>{{ artist.email }}</h4>
        <h4>{{ artist.twitter }}</h4>
        <h4>Upcoming Event: {{ artist.artist_info.upcoming_events[0].datetime | date: 'MMM d, y' }} </h4>
        <!-- {{ artist.artist_info.upcoming_events[0].title }} -->
        <ion-option-button class="button-positive icon ion-heart"<ion-option-button>
        <ion-option-button class="button-positive icon ion-social-usd"<ion-option-button>
      </ion-item>
    </div>
  </ion-list>
  </ion-content>
</ion-view>
