<ion-view view-title="Artists" ng-init="init()">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()">
    </ion-refresher>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" style="text-align:center;" placeholder="Search" ng-model="searchText">
      </label>
    </div>
    <ion-list show-delete= "false" can-swipe = "true">
    <ion-toggle toggle-class="toggle-positive" ng-click="toggleFavorite()">Show Favorites</ion-toggle>
    <div class="list">
      <ion-item class="item item-thumbnail-left artistList" collection-repeat="artist in artists | filter:searchText | filter:filterByFavorite" collection-item-height = "100px" ng-click="artistDetail(artist)" on-swipe-left="onSwipeLeft(artist)">
        <img ng-src="{{ artist.image }}">
        <h2>{{ artist.artist_info.artist_name || artist.name }}</h2>
        <h4>{{ artist.email }}</h4>
        <h4>{{ artist.twitter }}</h4>  
        <h4>Upcoming Event: {{ artist.artist_info.upcoming_events[0].datetime | date: 'MMM d, y' }} </h4>
        <h4 class="defaultValue" ng-hide="artist.artist_info.upcoming_events[0].datetime"> None Yet!</h4>
        <div class = "item-icon-right">
        <i class="icon ion-ios-arrow-right item-right positive"></i>
      </div>
        <!-- {{ artist.artist_info.upcoming_events[0].title }} -->
        <ion-option-button ng-click="payPal(artist.artist_info.paypal_link)" class="button-positive icon ion-social-usd"></ion-option-button>
        <ion-option-button favorite class="{{ heartClass }}" ng-class="getClass(artist)" ng-click="favorite(artist)"></ion-option-button>
      </ion-item>
    </div>
  </ion-list>
  </ion-content>
</ion-view>
