<ion-view view-title="Login">
	<ion-content class="ion-fb-login home-background" scroll= "false">
		<section class="login-container">
			<div class = "col header text-center">
				<h1 class= "brandName">BandOut</h1>
			</div>
			<div id="login" classs="hiw-login-container text-center"></div>
			<div class = "col button-row text-center ion-fb-login-buttons">
				<button class="button button-outline button-light signin-facebook" type="submit" ng-click="login()">
					Login with Facebook
				</button>
			</div>
		</section>
	</ion-content>
</ion-view>


