<ion-view class="login-page" view-title="Login">
  <ion-content class="ion-fb-login home-background" scroll= "false">
    <section class="login-container">
      <div class = "col header text-center">
        <img src="../../assets/Bandout.svg" alt="BandOut Logo">
      </div>
      <div id="login" class="hiw-login-container text-center"></div>
      <div class = "col button-row text-center ion-fb-login-buttons">
        <button class ="button button-outline button-light signin-facebook" type="submit" ng-click="login()">
          Login with Facebook
        </button>
      </div>
    </section>
  </ion-content>
</ion-view>


