<ion-view view-title="Login">
  <ion-content class="ion-fb-login">
    <div class="row ion-fb-login-buttons">
      <div class="col col-center">
        <button class="button button-outline button-light" ng-click="login()">
          Login with Facebook
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

<!-- <ion&#45;modal&#45;view> -->
<!--   <ion&#45;header&#45;bar> -->
<!--     <h1 class="title">Login</h1> -->
<!--     <div class="buttons"> -->
<!--       <button class="button button&#45;clear" ng&#45;click="closeLogin()">Close</button> -->
<!--     </div> -->
<!--   </ion&#45;header&#45;bar> -->
<!--   <ion&#45;content> -->
<!-- <!&#45;&#45;     <form ng&#45;submit="doLogin()"> -->
<!--       <div class="list"> -->
<!--         <label class="item item&#45;input"> -->
<!--           <span class="input&#45;label">Username</span> -->
<!--           <input type="text" ng&#45;model="loginData.username"> -->
<!--         </label> -->
<!--         <label class="item item&#45;input"> -->
<!--           <span class="input&#45;label">Password</span> -->
<!--           <input type="password" ng&#45;model="loginData.password"> -->
<!--         </label> -->
<!--         <label class="item"> -->
<!--           <button class="button button&#45;block button&#45;positive" type="submit">Log in</button> -->
<!--         </label> -->
<!--       </div> -->
<!--     </form> &#45;&#45;> -->
<!--     <label class="item"> -->
<!--         <button class="button button&#45;block button&#45;positive" ng&#45;click="fbLogin()"> -->
<!--         Login with Facebook -->
<!--         </button> -->
<!--     </label> -->
<!--   </ion&#45;content> -->
<!-- </ion&#45;modal&#45;view> -->
