<ion-view view-title="Artist">
  <ion-content>
    <div class="list card">
      <div class="item">
        <img ng-src="{{ artist.image }}">
        <h2>{{ artist.name }}</h2>
        <h4>{{ artist.email }}</h4>
        <h4>{{ artist.twitter }}</h4>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left" ng-click="payPal(artist.artist_info.paypal_link)">
        <a class="tab-item">
          <i class="icon ion-social-usd-outline"></i> PayPal
        </a>
      </div>
      <div>
        Upcoming Events:
      <div class="item item-body" ng-repeat="event in artist.artist_info.upcoming_events" ng-click="eventDetail(event)">
        <br> {{ event.title }}
        <br> {{ event.datetime }}
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
